
<%= render :partial => "comments/formt" %>

<%# @text_post.inspect %><br>
<%   @text_post.comments.all.each do |f| %>
<div class="panel panel-default">
  <div class ="panel-heading">
    <h3 class="panel-title">
      <%=  f.body %>
    </h3></div></div><br>
    <% end %>
