<p class="lead"><%= @user.name %></p>

<% if current_user %>
  <% if current_user != @user && !current_user.following?(@user) %>
    <%= link_to "Follow", follow_user_path(@user),
          class: "btn btn-default" %>
  <% end %>
<% end %>


<h3>Posts</h3>
